# CONFIGURACION DE CORREO ELECTRONICO
EMAIL=''
EMAIL_PASS=''
EMAIL_TEST=''
EMAIL_KEY=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''
GOOGLE_REFRESH_TOKEN=''
REDIRECT_URI=''

#CONFIGURACION DE SERVIDOR
PORT='3000'
NODE_ENV='dev'
BASE_URL='http://localhost'
GLOBAL_PEFIX='/api/v2'



#CONGIGURACION API BBVA
BBVA_ID_COMERCIO=''
BBVA_PASS=''
BBVA_ID_BANCO=''

#CONGIGURACION API BANCO POPULAR
BANCO_POPULAR_ID_BANCO=''
BANCO_POPULAR_TOKEN=''


#CONFIGURACION CONVENIO
CODIGO_CONVENIO='';

#CONFIGURACION ZONDA
TIEMPO_VERIFICACION_MIN='10'

#CONFIGURACION BASE DE DATOS SIGEDIN MYSQL
MYSQL_SGD_HOST=''
MYSQL_SGD_USER=''
MYSQL_SGD_PASS=''
MYSQL_SGD_DATABASE=''
MYSQL_SGD_PORT=3310

#CONFIGURACION BASE DE DATOS SYSAPOLO DEV
MSSQL_SYSAPOLO_USER=''
MSSQL_SYSAPOLO_PASS=''
MSSQL_SYSAPOLO_DATABASE=''
MSSQL_SYSAPOLO_SERVER=''

#CONFIGURACION PUPPETEER ADN CHROMIUM
# PUPPETEER_SKIP_DOWNLOAD='true'
# CHROME_BIN="/usr/bin/chromium-browser"

#URL CONSULTA ESTADO FACTURA
URL_VERIFY_INVOICE=''
